@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
html
body {
  background: #EAFFFD;
  color: #333;
  font-family: "Nunito";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@media (prefers-color-scheme: light){
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}
Button{
  background-color: #FFBF69 !important;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.not-found{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 450px;
}